<div id="view-container" class="x-hide-display">
</div>

<div id="page-container" class="x-hide-display"></div>

<div id="editor-container" class="x-hide-display">
  <textarea id="editor" name="content" cols="80" rows="20"></textarea>
</div>
