<div id="view-container" class="x-hide-display">
</div>

<div id="page-html" class="x-hide-display"></div>

<div id="edit-container" class="x-hide-display">
  <textarea id="editor" name="content"></textarea>
</div>
