<div id="view-container" class="x-hide-display">
</div>

<div id="page-container" class="x-hide-display"></div>

<div id="editor-container" class="x-hide-display">
  <textarea id="editor" name="content"></textarea>
</div>
