<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rwiki</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" >
  </head>

  <body>
    <%= yield %>
  </body>
</html>
