<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rwiki</title>

    <!-- ** CSS ** -->
    <link rel="stylesheet" type="text/css" href="/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <!-- ** Javascript ** -->
    <script type="text/javascript" src="/javascripts/vendor/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/ext/adapter/jquery/ext-jquery-adapter-debug.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/ext/ux/TabCloseMenu.js"></script>

    <script type="text/javascript" src="/javascripts/rwiki.js"></script>
    <script type="text/javascript" src="/javascripts/rwiki/editor.js"></script>
    <script type="text/javascript" src="/javascripts/rwiki/tab_panel.js"></script>
    <script type="text/javascript" src="/javascripts/rwiki/tree_panel.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
