<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rwiki</title>

    <!-- ** CSS ** -->
    <!-- base library -->
    <link rel="stylesheet" type="text/css" href="resources/css/ext-all.css" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <!-- ** Javascript ** -->
    <!-- ExtJS library: base/adapter -->
    <script type="text/javascript" src="javascripts/vendor/ext/adapter/ext/ext-base.js"></script>
    <!-- ExtJS library: all widgets -->
    <script type="text/javascript" src="javascripts/vendor/ext/ext-all-debug.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
