<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rwiki</title>

    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />

    <!-- ** CSS ** -->
    <link rel="stylesheet" type="text/css" href="/resources/ext/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/resources/markitup/skins/markitup/style.css" />
    <link rel="stylesheet" type="text/css" href="/resources/markitup/sets/textile/style.css" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/page.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/coderay.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/markitup.css" />

    <!-- ** Javascript ** -->
    <script type="text/javascript" src="/javascripts/vendor/jquery/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/ext/adapter/jquery/ext-jquery-adapter-debug.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/ext/ext-all-debug.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/ext/ux/TabCloseMenu.js"></script>

    <!-- ** MarkItUp editor ** -->
    <script type="text/javascript" src="/javascripts/vendor/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/resources/markitup/sets/textile/set.js"></script>

    <!-- ** Rwiki ** -->
    <script type="text/javascript" src="/javascripts/Rwiki/EditorPanel.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/EditorPanel/Editor.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/NodeManager.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TabPanel.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TabPanel/PageTab.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/Toolbat.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/SidePanel.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/Toolbar.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TreePanel.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TreePanel/Filter.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TreePanel/Loader.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TreePanel/Menu.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TreePanel/Node.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/TreePanel/Toolbar.js"></script>
    <script type="text/javascript" src="/javascripts/Rwiki/Viewport.js"></script>

    <script type="text/javascript" src="/javascripts/Rwiki.js"></script>

    <script type="text/javascript">
      Ext.onReady(function() {
        Rwiki.init();
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
