<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Rwiki</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/page.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/coderay.css"/>

  <script language="Javascript1.2">
      <!--
      function printpage() {
          window.print();
      }
      //-->
  </script>
</head>

<body onload="printpage();">
<%= @html_content %>
</body>

</html>
