#editor-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#editor {
  font-family: 'Courier New', 'Terminal', monospace;
  font-size: 16px;
  width: 99%;
  height: 90%;
}

.markItUpContainer {
  height: 364px;
}

.markItUp {
  border: none;
  margin: 0px;
  width: auto;
}

.markItUpEditor {
  background: white;
  border: 1px solid #3C769D;
  padding: 5px 5px 5px 5px;
}

.textile .markItUpEditor {
  background-image: none;
}

.x-tab-panel-body {
  padding: 5px;
}

.icon-expand-all {
  background-image: url(../images/icons/expand-all.gif) !important;
}

.icon-collapse-all {
  background-image: url(../images/icons/collapse-all.gif) !important;
}

.icon-page {
  background-image: url(../images/icons/page.png) !important;
}

.icon-create-folder {
  background-image: url(../images/icons/folder_add.png) !important;
}

.icon-create-page {
  background-image: url(../images/icons/page_add.png) !important;
}

.icon-rename-node {
  background-image: url(../images/icons/folder_edit.png) !important;
}

.icon-delete-node {
  background-image: url(../images/icons/delete.png) !important;
}
