#editor-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#editor {
  font-family: 'Courier New', 'Terminal', monospace;
  font-size: 16px;
  width: 99%;
  height: 90%;
}

.markItUpContainer {
  height: 364px;
}

.markItUp {
  border: none;
  margin: 0px;
  width: auto;
}

.markItUpEditor {
  background: white;
  border: 1px solid #3C769D;
  padding: 5px 5px 5px 5px;
}

.textile .markItUpEditor {
  background-image: none;
}

.x-tab-panel-body {
  padding: 5px;
}

.rwiki-tree-node {
  font-size: 15px;
  padding: 2px;
}

.icon-folder-page {
  background-image: url(/images/icons/folder_page.png) !important;  
}

.icon-page {
  background-image: url(/images/icons/page.png) !important;  
}

.icon-expand-all {
  background-image: url(/images/icons/expand-all.gif) !important;
}

.icon-collapse-all {
  background-image: url(/images/icons/collapse-all.gif) !important;
}

.icon-page {
  background-image: url(/images/icons/page.png) !important;
}
.icon-edit {
  background-image: url(/images/icons/page_edit.png) !important;
}

.icon-create-folder {
  background-image: url(/images/icons/folder_add.png) !important;
}

.icon-add-page {
  background-image: url(/images/icons/page_add.png) !important;
}

.icon-rename-page {
  background-image: url(/images/icons/tab_edit.png) !important;
}

.icon-delete-page {
  background-image: url(/images/icons/page_delete.png) !important;
}

.icon-search {
  background-image: url(/images/icons/page_find.png) !important;
}

.icon-save {
  background-image: url(/images/icons/page_save.png) !important;
}

.icon-accept {
  background-image: url(/images/icons/cancel.png) !important;
}

.icon-cancel {
  background-image: url(/images/icons/cancel.png) !important;
}

.icon-print {
  background-image: url(/images/icons/printer.png) !important;
}

.icon-about {
  background-image: url(/images/icons/information.png) !important;
}
